/* all pages */

#Retlogo {
    max-width: 7em;
    max-height: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em
}

header {
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    position: fixed;

}

body {
    background-color: #ebebec;
}


/* index */
section#welkom {
    background-color: white
}

section#welkom > img {
    width: 100%;
    max-height: 100%;
    margin-top: 5em
}

h1 {
    background-color: #ed192c;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.8em;
    padding: 3%;
    margin: 0;
    text-align: center;
}

/* Uitgelicht banner */
#aanbevolen {
    background-color: white;
    border-radius: .3em;
    margin-top: 1em;
    box-shadow: .2em .3em #e3e3e4;
}

article > img {
    width: 93%;
    margin-left: .8em;
    margin-right: .8em;
    margin-top: 1em;
}

a {
    text-decoration: none;
}

article > p {

    padding-bottom: .5em;
    color: #00477F;
}

/* genres keuze menu */
section#genres {
    background-color: white;
    border-radius: .3em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

section#genres > h2 {
    color: #00477F;
    font-family: sans-serif;
    font-weight: 500;
    padding-bottom: 2%;
    margin: .3em;
    margin-left: .8em;
    border-bottom-style: solid;
    border-bottom-color: #ed192c;
    display: table-cell;
    width: 80%;
}

section#genres a {
    background-color: #00477F;
    text-align: center;
    border-radius: .8em;
    width: calc(33% - 1rem);
    margin: .5rem;
    text-decoration: none;
}

section#genres figure {
    margin: 0;
    box-shadow: .2em .3em #e3e3e4;
    background-color: #00477F;
    border-radius: .3em
}

section#genres figure > img {
    width: 100%;

}

figcaption {
    color: white;
    font-family: sans-serif;

}

