/* all pages */

body {
    background-color: #ebebec;
}
section.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header {
    display: flex;
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    position: fixed;
    flex-direction: row
}
#Retlogo {
    max-width: 7em;
    max-height: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em
}

header > a > img {
    max-width: 2em;
    background-color: #ed192c;
    padding: .5em
}

/* index */
section#welkom {
    background-color: white;
}

section#welkom > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 12em;
    margin-top: 5em
}

h1 {
    background-color: #ed192c;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.6em;
    padding: .2em;
    margin: 0;
    text-align: center;

}

/* Uitgelicht banner */
article {
    background-color: white;
    border-radius: .3em;
    box-shadow: .2em .3em #e3e3e4;
}

article > img {
    height: 8em;
    width: 20em;
    margin-left: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
}

article {
    background-color: white;
    border-radius: .3em;
    box-shadow: .2em .3em #e3e3e4;
    margin-top: 1.5em;
    width: 20em;
    padding: 1em;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 1em;
    margin-left: .5em;
    height: 20em
}

article > p {

    padding-bottom: .5em;
    color: #00477F;
}

a > article > h2 {
    padding-bottom: .5em;
    border-bottom-style: solid;
    border-bottom-color: #ed192c;
    display: table-cell;
    margin-left: .8em;
    color: #00477F;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.3em
}
/* zoekbalk */
.search-box {
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: 
}

a.search-btn {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    transition: 0.4s;
    line-height: 4em;
    width: 0%;
}

.search-btn:hover > .search-txt {
    width: 24em;
    padding: 0 .6em;
}
/* genres keuze menu */
nav#genres {
    background-color: white;
    border-radius: .3em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    background-color: white;
    border-radius: .3em;
    box-shadow: .2em .3em #e3e3e4;
    margin-top: 1.5em;
    width: 20em;
    padding: 1em;
    text-decoration: none;
    margin-left: .5em;
}

nav#genres > h2 {
    color: #00477F;
    font-family: sans-serif;
    font-weight: 500;
    padding-bottom: 2%;
    margin: .3em;
    margin-left: .8em;
    border-bottom-style: solid;
    border-bottom-color: #ed192c;
    display: table-cell;
    width: 80%;
}

nav#genres a {
    text-align: center;
    border-radius: .3em;
    width: calc(33% - 1rem);
    margin: .5rem;
    text-decoration: none;
}

nav#genres figure {
    margin: 0;
    background-color: #00477F;
    border-radius: .3em
}

nav#genres figure > img {
    width: 100%;

}

figcaption {
    color: white;
    font-family: sans-serif;

}
nav#genres figure:hover {
    background-color: #009ddb;
}
/* landscape tablets */
@media only screen and (min-width: 768px) {
    h1 {
        text-align: left;
        padding-left: 5%
    }
}
/* laptops/desktops */
@media only screen and (min-width: 62em) {
    h1 {
        text-align: left;
        padding-left: 14% 
    }
    article {
        padding: 1.5em;
        padding-bottom: 1em;
        margin-right: 2em;
        width: 30em
    }

    article > img {
        width: 30em;
        min-height: 12em;
    }

    nav#genres {
        width: 25em;
        margin-bottom: 5em;
    }

    section.content {
        justify-content: center;
    }
}
