* {
    margin: 0;
}

body {
    background-color: #ebebec
}

header {
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    position: fixed;
}

#Retlogo {
    max-width: 7em;
    max-height: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em
}

h1 {
    background-color: #ed192c;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.8em;
    padding: .5em;
    margin: 0;
    text-align: center;
}

/* home */

section.navbar {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 120%;
    height: 3.8em;
    background-color: #005c87;
}

a.home {
    background-color: #00477F;
    color: white;
    padding-top: 6em;
    padding: 1.5em;
    font-family: sans-serif;
    margin-right: .5em
}

a.search-btn {
    background-color: #00477F;
    color: white;
    padding: 1em;
    padding-top: 1.7em;
}

a.search-btn > img {
    width: 2em;
    background-color: #00477F;
    padding-right: .8em;
}

a.search-btn > img:hover {
    background-color: #009ddb;
}

a.search-btn:hover {
    background-color: #009ddb;
}

a.home:hover {
    background-color: #009ddb;
}

/*dropdown bij resultaten 
Bron: https://www.w3schools.com/howto/howto_js_dropdown.asp */

/* Dropdown Button */
button.dropdownButton {
    background-color: #00477F;
    color: white;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-right: .2em;
}

/* Dropdown button on hover & focus */
.dropdownButton:hover,
.dropdownButton:focus {
    background-color: #009ddb;
}

/* positie van de nav *


/* standaard hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00477F;
    min-width: 5em;
    box-shadow: 0em .8em 1.6em .3em rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* filter opties in dropdown */

input[type=radio] {
    visibility: hidden;
    position: absolute;
}

form label {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}

form label:hover {
    background-color: #009ddb;
}

input[type=radio]:checked + label {
    background-color: #3e3739;
}


/* Show the dropdown menu (voor js) */
.show {
    display: block;
}

#icon {
    width: 1.6em;
}

/* resultaten */
h2 {
    margin-top: 4em;
    width: 100%;
    color: #00477F;
    margin-left: .5em;
}

@keyframes resultaten {
    80% {
        font-size: 1.8em;
    }

    20% {
        margin-top: 8em
    }
}

h2:first-child {
    margin-top: 4em;
    width: 100%;
    color: #00477F;
    margin-left: .5em;
    animation-name: resultaten;
    animation-duration: 2s;
}

article {
    background-color: white;
    border-radius: .3em;
    box-shadow: .2em .3em #e3e3e4;
    margin-top: 1.5em;
    width: 20em;
    padding: 1em;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 1em;
    margin-left: .5em;
}

section > a {
    text-decoration: none;
}


a > article > h2 {
    padding-bottom: .5em;
    border-bottom-style: solid;
    border-bottom-color: #ed192c;
    display: table-cell;
    margin-left: .8em;
    padding-top: 3%;
    color: #00477F;
    font-family: sans-serif;
    font-weight: 500;
    padding-bottom: .2em
}

article > img {
    height: 10em;
    width: 20em;
    margin-left: 0;
    margin-top: 0;
}

section.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8.8em;
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;

}

article > p {
    padding-bottom: .8em;
    padding-top: 1em;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;

}

/* landscape tablets */
@media only screen and (min-width: 768px) {
    section.navbar {
        justify-content: space-between;
        width: 100%;
    }
}

/* laptops/desktops */
@media only screen and (min-width: 62em) {
    section.navbar {
        justify-content: space-between;
        width: 100%;
    }
}
