body {
    background-color: #ebebec;
}

header {
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    position: fixed;
}

#Retlogo {
    max-width: 7em;
    max-height: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em
}

h1 {
    background-color: #ed192c;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.8em;
    padding: .5em;
    margin: 0;
    text-align: center;
}

/* home */
.home {
    background-color: #00477F;
    color: white;
    padding: 1em;
    font-size: 1em;
    
}

.home:hover {
    background-color: #d4effc;
    color: #00477F; 
}

/*dropdown bij resultaten 
Bron: https://www.w3schools.com/howto/howto_js_dropdown.asp */

/* Dropdown Button */
.dropdownButton {
    background-color: #00477F;
    color: white;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropdownButton:hover,
.dropdownButton:focus {
    background-color: #d4effc;
    color: #00477F;
}

/* positie van de nav */
.dropdown {
    position: fixed;
    right: 0;
    display: inline-block;
    margin-top: 0em
}


/* standaard hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00477F;
    min-width: 5em;
    box-shadow: 0em .8em 1.6em 0em rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* filter opties in dropdown */
.dropdown-content a {
    padding: .6em;
    text-decoration: none;
    display: block;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.dropdown-content a:hover {
    background-color: black;
}

/* Show the dropdown menu (voor js) */
.show {
    display: block;
}

#icon {
    width: 1.6em;
}

/* resultaten */
h2 {
    margin-top: 2em;
    width: 100%;
    color: #00477F;
        margin-left: .5em;
}
article {
    background-color: white;
    border-radius: .3em;
    box-shadow: .2em .3em #e3e3e4;
    margin-top: 1.5em;
    width: 20em;
    padding: 1em;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 1em;
    margin-left: .5em;
}

section > a {
    text-decoration: none;
}


a > article > h2 {
    padding-bottom: .5em;
    border-bottom-style: solid;
    border-bottom-color: #ed192c;
    display: table-cell;
    margin-left: .8em;
    padding-top: 3%;
    color: #00477F;
    font-family: sans-serif;
    font-weight: 500;


}

article > img {
    height: 10em;
    width: 20em;
    margin-left: 0;
    margin-top: 0;
}

section.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12em;
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;

}

article > p {
    padding-bottom: .8em;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    
}
